::-webkit-scrollbar{
    display:none;
}

.Board {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Board-left{
    background-color: #A082D1;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.Board-bigIcon{
    font-size: 10rem;
    color: rgb(94, 45, 11);
    margin: 1.5rem auto 2rem;
}

.Board-newBtn{
    padding: 0.8rem 1.8rem;
    font-size: 1.125rem;
}

.Board-right{
    width: 70%;
    height: 95%;
    background-color: #fff;
    overflow-y: scroll;
    
}